*{
    margin: 0;
    padding: 0;
}
.header{
    background-color:rgb(228, 222, 213) ;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

.box{
    border: 2px solid black;
    height: 80px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 40px 10px 40px;
}

.inpt{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
}

.input-text{
    height: 1.6rem;
}

.input-text-label{
    background-color: darkgray;
    height: 1.6rem;
    width: 50px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}